.background {
  background-image: url("../images/girl.jpg");
  height: 98vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}
.layout2 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 111;
  height: 100%;
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  padding: 20px;
}
.content h1 {
  margin: 10px 0px 10px;
  font-size: 75px;
}
.content h3 {
  font-size: 25px;
  margin-bottom: 30px;
}
.content h4 {
  letter-spacing: 2px;
  color: #0c707e;
  font-size: 20px;
}
.btns {
  width: 90%;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.btns button {
  width: 40%;
  background-color: #0f4249;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
}
.btns button:hover {
  background-color: #0f6c79;
}
