.allContent {
  background-image: linear-gradient(90deg, #0f4249, #f6f7e0);
  height: 98vh;
}
.container {
  width: 40%;
  margin: auto;
  text-align: center;
  border: 1px solid #868686;
  padding: 40px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content h2 {
  color: #106772;
  font-size: 30px;
  margin-bottom: 10px;
}
.content p {
  margin-bottom: 18px;
  font-size: 17px;
  color: #000;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputs input {
  outline: none;
  border-radius: 10px;
  border: 1px solid #aaa;
  padding: 9px;
}
.submit {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #135058;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  background-color: #135058;
}
.ques {
  margin-top: 10px;
  color: #000;
}
a {
  color: #106772;
}
